
body {

  background: linear-gradient(to right, #422680, #f54952);
}
.pages{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.page{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headerText{
   color: transparent;
   background:  linear-gradient(to right, #f4f1de, #3d405b);
   margin-top: 50px;
   -webkit-background-clip: text;
   margin-bottom: 50px;
}
.mainDiv{
    padding: 40px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.left{

}
.titleInput{
    height: 30px;
    font-size: larger;
    background-color: #7a5197;
    width: 300px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

input:focus, textarea:focus{
    outline: none;
}
.titleInput::placeholder{
    color: white;
}
.textarea::placeholder{
    color: white;
}
.textarea{
    width: 300px;
    background-color: #7a5197;
    height: 130px;
    padding: 5px;
    border: none;
    font-size: x-large;
    border-radius: 10px;
    text-align: start;
   
}
.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.btnAdd{
    padding: 5px;
    margin: 20px;
    width: 100px;
    border-radius: 5px;
    border: none;
    font-size: larger;
    background-color: #a8e8f9;
    cursor: pointer;
    color: black;
    font-weight: 500;
    border: 2px solid white;
}
.btnAdd:hover{
    border: 2px solid transparent;
}

.buttonColor {
  display: flex;
  width: 400px;
  flex-direction: row;
  align-items: center;
  margin-left: 100px;
  padding: 10px;
  border-radius: 10px;
}
.colors{
    padding: 10px;
    border-radius: 10px;
}
.colors button{
    padding: 30px;
    margin: 5px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
}

.pink {
    background-color: #e91e63;
  }
  .purple {
    background-color: #9c27b0;
  }
  .blue {
    background-color: #1e88e5;
  }
  .green {
    background-color: #1dca1d;
  }
  .yellow {
    background-color: #ffeb3b;
  }
 

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    border: none;
}
.search input{
  height: 35px;
  width: 50px;
  border-radius: 10px;
  border: 0;
  color:white;
  background-color: #7a5197;
  padding-left: 5px;
  transition: width 0.7s ease-in-out;
}
.search input::placeholder{
    color: white;
  
}
.search input:focus{
    outline: none;
    width: 400px;
}
.search img{
    width: 27px;
    height: 27px;
    animation: bounceAnimation 1s infinite;
}
@keyframes bounceAnimation {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .down{
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 25px;
}
.card{
    background-color: #FF8F00;
    width: 300px;
    height: 270px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.icons{
    font-size: xx-large;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}
.icon{
    padding: 5px;
    border-radius: 5px;
}
.icon:hover{
    background-color: black ;
}
.icerik h2{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}
.icerik p{
    font-size: larger;
    height: 140px;
    overflow: hidden;
}
